/* add home page styles here */
body {
    padding: 60px;
    background-color: #efefef;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playfield {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px dotted #ddd;
    padding: 40px;
    background: #fff;
    box-shadow: 20px 20px 0px rgb(0 0 0 / 12%);
    height: 600px;
}

.side {
    color: #222;
}

.side, 
.inner-playfield {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#player-choice {
    margin-top: 40px;
}

#player-choice div {
    padding: 20px;
    border: 1px solid #eee;
    width: 160px;
}

#dice-list {
    display: flex;
    list-style-type: none;
    font-size: 1.6rem;
}

#dice-list i {
    margin: 10px;
    font-size: 3.5rem;
    color: #333;
}

#dice-list i.held {
    color: #c00;
}

.roll {
    transform: rotate(3600deg);
    -webkit-transition: -webkit-transform 500ms ease-out;
    -moz-transition:    -moz-transform 500ms ease-out;
    -o-transition:      -o-transform 500ms ease-out;
    -ms-transition:     -ms-transform 500ms ease-out;
    transition: transform 500ms cubic-bezier(0, 0.13, 0.92, 1.03);
}