/* add home page styles here */
body {
    padding: 60px;
}

h2 {
    font-size: 1.2rem;
}

#player-choice {
    margin-top: 40px;
}

#dice-list {
    display: flex;
    list-style-type: none;
    font-size: 1.6rem;
}

#dice-list i {
    margin: 10px;
    font-size: 3.5rem;
    color: #333;
}

#dice-list i.held {
    color: #c00;
}