/* add home page styles here */
body {
    padding: 60px;
}

h2 {
    font-size: 1.2rem;
}

#player-choice {
    margin-top: 40px;
}

#dice-list {
    display: flex;
    list-style-type: none;
    font-size: 1.6rem;
}

#dice-list i {
    margin: 10px;
    font-size: 3.5rem;
    color: #333;
}

#dice-list i.held {
    color: #c00;
}

.roll {
    transform: rotate(3600deg);
    -webkit-transition: -webkit-transform 500ms ease-out;
    -moz-transition:    -moz-transform 500ms ease-out;
    -o-transition:      -o-transform 500ms ease-out;
    -ms-transition:     -ms-transform 500ms ease-out;
    transition: transform 500ms cubic-bezier(0, 0.13, 0.92, 1.03);
}